CONFIG proxy.config.url_remap.remap_required INT 0
CONFIG proxy.config.reverse_proxy.enabled INT 0
CONFIG proxy.config.http.cache.http INT 1
CONFIG proxy.config.cache.ram_cache.compress INT 1
CONFIG proxy.config.http.server_ports STRING 8080
CONFIG proxy.config.proxy_name STRING traff
CONFIG proxy.config.http.cache.required_headers INT 0
CONFIG proxy.config.http.no_dns_just_forward_to_parent INT 0
CONFIG proxy.config.http.enable_http_info INT 1
CONFIG proxy.config.log.rolling_enabled INT 0
#CONFIG proxy.config.http.congestion_control.enabled INT 1

CONFIG proxy.config.log.logging_enabled INT 3

CONFIG proxy.config.http_ui_enabled INT 1
CONFIG proxy.config.http.cache.ignore_client_no_cache INT 1
CONFIG proxy.config.http.cache.ignore_server_no_cache INT 1
CONFIG proxy.config.cache.permit.pinning INT 1

CONFIG proxy.config.log.custom_log_enabled INT 1
